<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <LastSaveDirectory value="C:\Users\tim\Documents\java.greenfoot\project A\Binding\images\sheets" />
  <LastLoadDirectory value="C:\Users\tim\Documents\java.greenfoot\project A\resources\UNUSED\monsters" />
  <SourceSizeMode value="Zoom" />
  <TargetSizeMode value="Zoom" />
</Configuration>